:root {
  --system-primary-color: #409eff;
  --system-primary-text-color: #fff;

  --system-logo-color: #f1f1f1;
  --system-logo-background: #263445;

  --system-menu-text-color: #bfcbd9;
  --system-menu-background: #28415a;
  --system-menu-children-background: #1f2d3d;
  --system-menu-submenu-active-color: #fff;
  --system-menu-hover-background: #203448;

  --system-header-background: #fff;
  --system-header-text-color: #bbb;
  --system-header-breadcrumb-text-color: #97a8be;
  --system-header-item-hover-color: #000;
  --system-header-border-color: #d8dce5;
  --system-header-tab-background: #fff;

  --system-container-background: #f0f2f5;
  --system-container-main-background: #fff;

  --system-page-background: #fff;
  --system-page-color: #303133;
  --system-page-tip-color: rgba(0, 0, 0, 0.45);
  --system-page-border-color: #000;

  --el-color-primary: var(--system-primary-color);
}

body #nprogress .bar {
  background-color: var(--system-primary-color);
}
body #nprogress .peg {
  box-shadow: 0 0 10px var(--system-primary-color), 0 0 5px var(--system-primary-color);
}
body #nprogress .spinner-icon {
  border-top-color: var(--system-primary-color);
  border-left-color: var(--system-primary-color);
}

@import './modules/dark.scss';
